.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1.8rem 4vw;
    background-color: var(--var-bg-color-secondary);
    box-shadow: 0px 2px 12px var(--var-shadow-color);
}
.title_app {
    font-size: 1.2rem;
    font-weight: 700;
}
.btn_theme {
    display: flex;
    align-items: center;
    gap: 0.4rem;
    font-size: 1rem;
    font-weight: 300;
    background-color: transparent;
    border: none;
    color: var(--var-text-color-primary);
}

@media screen and (min-width: 768px) {
    .container {
        padding: 3rem 2.5rem;
    }
    .title_app {
        font-size: 1.7rem;
    }
    .btn_theme {
        font-size: 1.6rem;
    }    
}

@media screen and (min-width: 1024px) {
    .container {
        padding: 1.9rem 6vw;
    }
    .title_app {
        font-size: 1.9rem;
    }
    .btn_theme {
        font-size: 1.22rem;
        font-weight: 500;
    }
}

@media screen and (min-width: 1220px) {
    .container {
        padding: 1.9rem 5vw;
    }
}